{% extends 'home/index.html'%}

{%block content%}
<section class="content"><div class="ic"></div>
  <div class="container">
    <div class="row">

      <div class="grid_7">
        <h2>{{object.nombre}}</h2>
          <img src="{{object.imagen.url}}" alt="" class=" fleft" width="100px" height="150px">
          <div class="extra_wrapper">
          <div class="bq_title color1">Descripcion</div>
       		<div style="color:#101223">{{object.descripcion}}
          <h5>Precio</h5>
          {{object.precio}}
          </div> 
          </div>
        
      </div>

      <div class="grid_4 preffix_1">
        <h2>Otros</h2>
        {% for producto in productos%}
        <div class="block3">
          <img src="{{producto.imagen.url}}" width="220px" height="120px" alt="" class="img_inner">
          <div class="extra_wrapper">
            <div class="text1 color1">
              <a href="{% url 'promocion:detalle_producto' producto.id%}">{{producto.nombre}}</a>
            </div>
            <div style="color:#101223">{{producto.descripcion}}<a href="#" class="color1">[...]</a></div>
          </div>
        </div>
        {% endfor%}
      </div>
      </div>
      </div>
      </section>

{%endblock%}