{% extends 'home/index.html'%}

{%block content%}
<section class="content"><div class="ic"></div>
  <div class="container">
    <div class="row">

      <div class="grid_7">
        <h2>{{object.nombre}}</h2>
          <img src="{{object.imagen.url}}" alt="" class=" fleft" width="100px" height="150px">
          <div class="extra_wrapper">
          <div class="bq_title color1">Descripcion</div>
          <div style="color:#101223"><p>{{object.descripcion}}</p>
          <h5>Precio</h5>
          {{real}}
          </div>
          </div>
        
      </div>

      <div class="grid_4 preffix_1">
        <h2>Otras Promociones</h2>
        {% for promo in promocion%}
        <div class="block3">
          <img src="{{promo.imagen.url}}" width="220px" height="120px" alt="" class="img_inner">
          <div class="extra_wrapper">
            <div class="text1 color1">
              <a href="{% url 'promocion:detalle_promocion' promo.id%}">{{promo.nombre}}</a>
              </div>
              <div style="color:#101223">{{promo.descripcion}}<a href="#" class="color1">[...]</a></div>
          </div>
        </div>
        {% endfor%}
      </div>
 	</div>
 	</div>
 	</section>

{%endblock%}