{% extends 'home/index.html'%}


{%block content%}

<!--=====================
          Content
======================-->
<section class="content gallery pad1">
  <div class="container">
    <div class="row">

    {% for promo in object_list%}
      <div class="grid_4">
        <div class="gall_block">
          <div class="maxheight">
            <a href="{{promo.imagen.url}}" class="gall_item"><img src="{{promo.imagen.url}}" alt="" alt="" width = "376px" height= "205px"></a>
            <div class="gall_bot">
            <div class="text1"><a href="{% url 'promocion:detalle_promocion' promo.id%}">{{promo.nombre}}</a></div>
            {{promo.descripcion}}
            </div>
          </div>
        </div>
      </div>

      {%endfor%}


    </div>
  </div>
</section>
</body>
{%endblock%}
</html>
